subir
tmp
uploads

*.swp
*.swo

Plugin
webroot/img/screenshots
webroot/img/Photo
webroot/img/Actor
webroot/img/bg
webroot/img/blog
webroot/video
webroot/links
raw
webroot/sitemap.xml

Config/core.php
Config/database.php
Config/Nats/last_import
