.label {
	display:block;
	padding: 20px 10px;
	margin:10px 0px;
	border: solid 1px #CCC;
}
.label:hover {
	border: solid 1px #000;
}
.label.disabled {
	color: #AAA;
}
.label.disabled:hover {
	border: solid 1px #CCC;
}
