/*
 * Main
 */

body {
	margin:0;
	background:url(../img/bg.png);
	font-size:13px;
	font-family:'Arial';
}

a {
	text-decoration:none;
}

ul {
	margin:0;
	padding:0;
}

a img {
	border:none;
}


/*
 * Generics
 */

.left {
	float:left;
}

.right {
	float:right;
}

.grey {
	color:#999;
}

.grey strong {
	color:#BBB;
}

.hidden {
	display:none;
}

a.selected {
	cursor:default;
}

a.disabled {
	cursor:default;
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}

input[type="submit"] {
	cursor:pointer;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}
   
* html .clearfix {
	height: 1%;
}

/*
 * Global
 */

#header {
	background:url(../img/bg_header.png) repeat-x;
	height:69px;
	position:fixed;
	width:100%;
	z-index:999;
}

#content {
	width:984px;
	background:#F2F2F2;
	margin:0 auto;
	border:solid 1px #AAA;
	padding:10px;
}

#footer {
	margin-top:50px;
	text-align:center;
}
#footer ul {
	border-top:solid 1px #CCC;
	padding:30px 0px;
	margin-top:20px;
}
#footer ul li {
	display:inline;
	padding:18px 20px;
}
#footer ul li a {
	color:#333;
	font-weight:bold;
	font-size:1.3em;
}
#footer ul li a:hover {
	text-decoration:underline;
}

.bg_header {
	height:70px;
}


/*
 * Menu
 */
.menu {
	width:984px;
	margin:5px auto;
	font-size:1.3em;
}
.menu a.logo {
	float:left;
}
.menu ul.menu_buttons {
	float:left;
}
.menu ul.menu_buttons li {
	display:inline;
	float:left;
}
.menu ul.menu_buttons li a {
	color:#FFF;
	font-weight:bold;
	display:block;
	margin-left:20px;
	padding:18px 25px;
}
.menu ul.menu_buttons li a.selected,
.menu ul.menu_buttons li a:hover {
	background:#333;
}


/*
 * Blocks Home
 */
.block_video {
	background:#000;
	margin-bottom: 20px;
}
.block_video .main_photo {
	width:680px;
	float:left;
	margin:1px;
	position:relative;
}
.block_video .main_photo img.image {
	width:680px;
	height:402px;
}
.block_video .main_photo a.play {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	padding:138px 276px;
	position:absolute;
}
.block_video .main_photo a.play:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.block_video .small_photos {
	width:300px;
	float:left;
}
.block_video .small_photos img {
	width:300px;
	height:200px;
	margin:1px;
}
.block_video .info {
	height:160px;
	padding:20px;
	background:url(../img/bg_info.png) repeat-x;
}
.block_video .info a.title {
	font-size:1.3em;
	font-weight:bold;
}
.block_video .info a {
	color:#FFF;
}
.block_video .info a:hover {
	text-decoration:underline;
}
.block_video .info .left,
.block_video .info .right {
	width:49.9%;
}
.block_video .footer {
	height:64px;
	background:url(../img/bg_block_footer.png) repeat-x;
}
.block_video .footer a.suscribe {
	width:500px;
	background:url(../img/hd.png) no-repeat right;
	display:block;
	padding:21px 0px;
	text-align:center;
	color:#FFF;
	font-size:1.3em;
	border-right:solid 1px #666;
	float:left;
}
.block_video .footer .private {
	background:#333;
	cursor:default;
	width:181px;
	display:block;
	padding:21px 0px;
	text-align:center;
	color:#FFF;
	font-size:1.3em;
	border-right:solid 1px #666;
	float:left;
}
.block_video .footer .private.public {
	color:#00FF00;
	font-size:1.4em;
	font-weight:bold;
}
.block_video .footer a.num_photos {
	width:300px;
	display:block;
	padding:21px 0px;
	text-align:center;
	color:#FFF;
	font-size:1.3em;
	border-right:solid 1px #666;
	float:left;
}
.block_video .footer a.suscribe:hover {
	background:#333 url(../img/hd.png) no-repeat right;
}
.block_video .footer a.private:hover,
.block_video .footer a.num_photos:hover {
	background:#333;
}


/*
 * View
 */
.featured {
	height:260px;
	text-align:center;
	position:relative;
	width:750px;
	float:left;
}
.featured .buttons {
	position:absolute;
	bottom:0px;
	left:0px;
	height:30px;
	background:#DDD;
}
.featured .buttons li {
	float:left;
	display:inline;
}
.featured .buttons a {
	color:#000;
	font-weight:bold;
	font-size:1.2em;
	display:block;
	padding:4px 15px;
	margin-top:3px;
}
.featured .buttons a.selected,
.featured .buttons a:hover {
	background:#FFF;
}
.featured .buttons a img {
	margin-right:5px;
}

.promo {
	float:right;
	width:230px;
	background:#000;
	height:260px;
}
.promo .title {
	color:#D67029;
	font-weight:bold;
	font-size:1.3em;
	text-align:center;
	margin-top:20px;
}
.promo .send {
	color:#FFF;
	font-weight:bold;
	text-align:center;
}
.promo .image {
	display:block;
	text-align:center;
	margin-top:25px;
}
.promo .image img {
	width:200px;
}

.video {
	margin-top:10px;
	padding:10px;
	/*height:572px;*/
	background:#000;
}
.video h1 {
	margin:0px 0px;
	color:#FFF;
	font-weight:bold;
	font-size:1.3em;
}
.video .player {
	margin-top:10px;
	/*height:542px;*/
	/*text-align:center;*/
}
.video .player_video {
	height:542px;
	width:964px;
}

.video a.play {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	padding:207px 418px;
	position:absolute;
}
.video a.play:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.video_footer {
	height:64px;
	background:url(../img/bg_view_footer.png) repeat-x;
}
.video_footer ul li {
	float:left;
	display:inline;
}
.video_footer ul li a {
	border-right:solid 1px #000;
	border-left:solid 1px #000;
	display:block;
	padding:22px 50px;
	margin:0px 35px;
	color:#FFF;
	font-size:1.2em;
	font-weight:bold;
	background:url(../img/bg_block_footer.png) repeat-x;
}
.video_footer ul li a.with_image {
	padding:15px 40px;
}
.video_footer ul li a.with_image img {
	margin-left:20px;
}
.video_footer ul li a:hover {
	background:#333;
}

.preview_photos {
	margin-top:10px;
}
.preview_photos img {
	width:239px;
	padding:1px;
	border:solid 1px #CCC;
}

.separator {
	margin:20px -10px 20px -12px;
	height:52px;
	background:#EAEAEA;
}
.separator .arrow {
	background:url(../img/arrow.png) no-repeat;
	color:#FFF;
	font-size:1.3em;
	padding:3px 90px 5px 10px;
	margin:-3px;
	font-weight:bold;
	float:left;
	height:52px;
	line-height:52px;
}
.separator .text {
	float:left;
	color:#333;
	font-size:1.3em;
	margin-left:50px;
	font-weight:bold;
	height:52px;
	line-height:52px;
}

.more_videos {
	background:url(../img/bg_info.png) repeat-x #000;
	/*height:380px;*/
	padding:10px;
	margin-top:30px;
}
.more_videos .photos {
	background:#FFF;
	padding:10px;
	margin-top:20px;
}
.more_videos .photos img {
	width:312px;
}
.more_videos .photos .photo {
	position:relative;
	float:left;
	margin:1px;
}
.more_videos .photos .photo .info {
	position:absolute;
	bottom:0px;
	background:#000;
	width:100%;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.more_videos .photos .photo .info p {
	margin:5px 5px;
	color:white;
}
.more_videos .photos .photo .info a {
	font-size:1.2em;
	color:white;
}

.more_videos_button {
	display:block;
	background:url(../img/bg_block_footer.png) repeat-x #000;
	height:50px;
	width:100%;
	color:#FFF;
	font-weight:bold;
	font-size:1.3em;
	text-align:centeR;
	line-height:2.8em;
	margin-top:10px;
}
a.more_videos_button:hover {
	background:#333;
}

.video #gallery img {
	margin:2px;
	width:317px;
}


/*
 * Paginador
 */
.paging {
	height:45px;
	text-align:center;
}
.paging a {
	background:url(../img/bg_block_footer.png) repeat-x #000;
	display:inline-block;
	color:#FFF;
	padding:12px 18px;
	margin:0 1px;
}
.paging a:hover,
.paging a.selected {
	background:#555;
}


/*
 * Ask for call
 */
.sms,
.pay {
	color:#666;
	text-align:center;
	font-size:1.3em;
}
.sms .big,
.pay .big{
	font-size:1.5em;
}
.sms #remaining,
.pay #remaining {
	font-size:1.35em;
}
.sms .info_text,
.pay .info_text {
	font-size:0.7em;
}


/*
 * pages
 */
.page_content {
	padding:0px 15px;
}


/*
 * Photos
 */
.block_photos {
	background:#000;
	margin-bottom:20px;
}
.block_photos .title {
	color:#FFF;
	font-size:1.3em;
	font-weight:bold;
	text-align:center;
	line-height:64px;
	background:url(../img/bg_block_footer.png) repeat-x;
	height:64px;
}
.block_photos img {
	margin:2px;
	width:324px;
}
.block_photos .footer {
	margin:10px;
}
.block_photos .footer a {
	color:#FFF;
}
.block_photos .footer a:hover {
	text-decoration:underline;
}
.block_photos a.see_video {
	font-weight:bold;
	font-size:1.3em;
	color:#FFF;
	display:block;
	float:right;
	margin:10px 40px 0px 0px;
}


/*
 * Profile
 */
.profile {
	margin-bottom:20px;
}
.profile p {
	font-size:1.1em;
}
.profile .photo {
	text-align:center;
	float:left;
	width:350px;
}
.profile .info {
	float:right;
	width:620px;
	margin-right:10px;
}
.profile .info .photos img {
	margin-right:1px;
}
.profile .see_more_photos {
	display:block;
	float:right;
	margin:15px 40px 0px 0px;
	font-size:1.3em;
	font-weight:bold;
	color:#333;
}


/*
 * Dialog
 */
.ui-dialog-titlebar {
	display:none;
}
.ui-dialog .ui-dialog-content {
	padding:0;
}
.ui-dialog div {
	border:none;
}
.ui-widget-header {
	border:none;
	background:#333;;
	-webkit-border-radius:0px;
	border-radius:0px;
}
.ui-tabs-nav li {
	-webkit-border-radius:0px;
	border-radius:0px;
}

/*
 * Fotos por actriz
 */
.actor_photos a {
	margin:4px;
}

/*
 * Dialog
 */
#dialog .title {
	background:#333;
	color:white;
	font-weight:bold;
	font-size:1.2em;
	padding:5px;
}
#dialog .text {
	padding:5px;
}
#dialog .button {
	cursor:pointer;
	border:#FF9933 2px solid;
	margin:5px 15px 0px 15px;
	padding:5px;
	color:#333;
	width:200px;
	font-weight:bold;
	display:block;
}
#dialog .button:hover {
	border:#CC0000 2px solid;
}
#dialog .button.selected {
	background:#FFFFCC;
}
#dialog .button.row_odd {
	float:left;
}
#dialog .button.row_even {
	float:right;
}
#dialog .button img {
	height:50px;
	margin:0 5px;
}
#dialog ._download_text {
	text-align:center;
	margin:10px 0 0 0;
}
#dialog ._download_text a {
	color:#333;
	font-weight:bold;
	text-decoration:underline;
}

/*
 * Follow
 */
.menu ul.follow {
	float:left;
	margin:18px 0px 0px 20px;
}
.menu ul.follow li {
	margin:0 2px;
	float:left;
	display:inline;
}


/*
 * messages
 */
.error {
	color:#990000;
	background:#FFCCCC;
	display:block;
	text-align:center;
	padding:5px;
	font-weight:bold;
	font-size:1.2em;
}
.notification {
	color:#009900;
	background:#CCFFCC;
	display:block;
	text-align:center;
	padding:5px;
	font-weight:bold;
	font-size:1.2em;
}
