body {
	margin:0;
	background:url(../img/bg.png);
	font-size:13px;
	font-family:'Arial';
}

a {
	text-decoration:none;
}

ul {
	margin:0;
	padding:0;
}

.left {
	float:left;
}

.right {
	float:right;
}

.grey {
	color:#999;
}

.grey strong {
	color:#CCC;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}
   
* html .clearfix {
	height: 1%;
}

#header {
	background:url(../img/bg_header.png) repeat-x;
	height:69px;
	position:fixed;
	width:100%;
	z-index:999;
}

#content {
	width:984px;
	background:#F2F2F2;
	margin:0 auto;
	border:solid 1px #AAA;
	padding:10px;
}

#footer {
	margin-top:50px;
	text-align:center;
}
#footer ul {
	border-top:solid 1px #CCC;
	padding:10px 80px;
	margin-top:20px;
}
#footer ul li {
	display:inline;
	float:left;
	padding:18px 20px;
}
#footer ul li a {
	color:#333;
	font-weight:bold;
	font-size:1.3em;
}
#footer ul li a:hover {
	text-decoration:underline;
}

.bg_header {
	height:70px;
}

.menu {
	width:984px;
	margin:5px auto;
	font-size:1.3em;
}
.menu a.logo {
	float:left;
}
.menu ul {
	float:left;
}
.menu ul li {
	display:inline;
	float:left;
}
.menu ul li a {
	color:#FFF;
	font-weight:bold;
	display:block;
	margin-left:20px;
	padding:18px 25px;
}
.menu ul li a:hover {
	background:#333;
}

.block_video {
	background:#000;
	margin-bottom: 20px;
}
.block_video .main_photo {
	width:680px;
	float:left;
	margin:1px;
	position:relative;
}
.block_video .main_photo img.image {
	width:680px;
	height:404px;
}
.block_video .main_photo a.play {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	padding:138px 276px;
	position:absolute;
}
.block_video .main_photo a.play:hover {
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.block_video .small_photos {
	width:300px;
	float:left;
}
.block_video .small_photos img {
	width:300px;
	height:200px;
	margin:1px;
}
.block_video .info {
	height:180px;
	padding:10px;
	background:url(../img/bg_info.png) repeat-x;
}
.block_video .info a.title {
	font-size:1.3em;
	font-weight:bold;
}
.block_video .info a {
	color:#FFF;
}
.block_video .info a:hover {
	text-decoration:underline;
}
.block_video .info .left,
.block_video .info .right {
	width:49.9%;
}
.block_video .footer {
	height:64px;
	background:url(../img/bg_block_footer.png) repeat-x;
}
.block_video .footer a.suscribe {
	width:500px;
	background:url(../img/hd.png) no-repeat right;
	display:block;
	padding:21px 0px;
	text-align:center;
	color:#FFF;
	font-size:1.3em;
	border-right:solid 1px #666;
	float:left;
}
.block_video .footer a.private {
	width:181px;
	display:block;
	padding:21px 0px;
	text-align:center;
	color:#FFF;
	font-size:1.3em;
	border-right:solid 1px #666;
	float:left;
}
.block_video .footer a.num_photos {
	width:300px;
	display:block;
	padding:21px 0px;
	text-align:center;
	color:#FFF;
	font-size:1.3em;
	border-right:solid 1px #666;
	float:left;
}
.block_video .footer a.suscribe:hover {
	background:#333 url(../img/hd.png) no-repeat right;
}
.block_video .footer a.private:hover,
.block_video .footer a.num_photos:hover {
	background:#333;
}
